/* 🄶🄴🄽🄴🅁🄰🄻 */

.wrapper {
  padding: 140px 200px;
}

.header-wrapper h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 50px !important;
  font-weight: 700;
}
.clipped-element {
  width: 100%;
  height: 100%;
  background-color: #1e335e;
  clip-path: polygon(100% 100%, 0 0, 0 100%);
}
.about_img_bg {
  position: absolute;
  right: 0;
  bottom: 0;
  /* max-width: 100%; */
  width: 30%;
}
.about_section .img-small {
  max-width: 60%;
  top: 40%;
  left: 37% !important;
}
.ourMission-wrapper {
  padding: 100px 0;
  background: #f2f7ff;
}
.mission-img {
  max-width: 100%;
}
.des-mission-main {
  width: 100%;
  height: 175px;
  background-color: #1E335E;
}
.spc-our {
  padding: 20px 10px;
}
.ourMission-wrapper h2 {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: left;
  color: #ffffff;
}
.ourMission-wrapper h3 {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: end;
  color: #ffffff;
}
.ourMission-wrapper h2 span {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: left;
  color: #ffffff;
}
.ourMission-wrapper h3 span {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: end;
  color: #ffffff;
}
.icon-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 91px;
  background-color: #1E335E;
}
.icn-mission img {
  width: 40px;
  height: 40px;
}
.icn-mission {
  padding: 20px 10px 0 30px;
}
.back-mission {
  width: 735px;
  height: 462px;
  top: 44px;
  opacity: 0px;
  background: linear-gradient(270deg, #d5e0f2 36.88%, #f4f7fc 117.89%);
  position: absolute;
}
.mission-desc {
  padding: 20px 0;
}
.mission-desc p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
.mission-desc ul {
  display: grid;
  margin-top: -15px;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  column-gap: 30px;
  padding: 0;
}

.mission-desc ul li {
  position: relative;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  padding-left: 12px;
}
.mission-desc ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  /* margin-left: -12px; */
  transform: translateY(-50%);
  left: 0;
  width: 6px;
  height: 10px;
  background-image: url(../images/138.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.vision-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-align: end;
  color: #ffffff;
}
.value-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
@media (max-width: 1560px) {
  .about-card-header {
    font-size: 18px !important;
  }
  .about_section .img-small {
    max-width: 60%;
    top: 50%;
    left: 260px;
  }
}
@media (max-width: 991px) {
  .ourMission-wrapper {
    padding: 50px 0;
  }
  .about_section .heading-title {
    margin-top: 20px;
  }
}

.contact_us_btn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
}
.contact_us_btn span {
  color: #fff;
  font-weight: 500;
}
.header_text > h2 {
  font-weight: 700;
  font-size: 50px;
  font-family: "Exo 2", sans-serif;
}
.about_section {
  position: relative;
  padding: 100px 0 100px 0;
}
@media (max-width: 500px) {
  .about_section {
    position: relative;
    padding: 50px 0 70px 0;
  }
}
.about_section .img-big {
  height: 500px;
}
.about_section .img-big {
  max-width: 80%;
}
/* .about_section .img-small {
  max-width: 293px;
  top: 350px;
} */

@media (max-width: 769px) {
  .about_section .img-small {
    max-width: 50%;
    top: 50%;
    left: 328px;
  }
  .about_section {
    padding: 30px 0;
  }
}
@media (500px <= width <= 560px) {
  .about_section .img-small {
    max-width: 60% !important;
    top: 46% !important;
    left: 38% !important;
  }
  /* .about_section .img-big {
    height: 60%;
  } */
}
@media (560px <= width <= 770px) {
  .about_section .img-small {
    max-width: 57% !important;
    top: 41% !important;
    left: 40% !important;
  }
  /* .about_section .img-big {
    height: 60%;
  } */
}
@media (400px <= width <= 530px) {
  /* .about_section .img-big {
    height: 60%;
  } */
  .about_section .img-big {
    max-width: 79%;
  }
}
@media (max-width: 400px) {
  .about_section .img-big {
    /* height: 60%; */
  }
  .about_section .img-small {
    max-width: 168px;
    top: 343px;
    left: 150px;
  }
}
@media (max-width: 1220px) {
  .about_section {
    position: relative;
  }
  .about_section .img-small {
    max-width: 60%;
    top: 43%;
    left: 35%;
  }
}
@media (max-width: 1024px) {
  .about_section .img-big {
    height: 450px;
  }
}
@media (max-width: 998px) {
  .about_section {
    position: relative;
  }
  .about_section .img-small {
    max-width: 251px;
    top: 374px;
    left: 254px;
  }
}

@media (max-width: 991px) {
  .about_section {
    position: relative;
    padding: 30px 0;
  }
  /* .about_section .img-small {
    max-width: 276px;
    top: 360px;
    left: 449px;
  } */
  .about_section .img-small {
    max-width: 43%;
    top: 40%;
    left: 50%;
  }
}
@media (max-width: 800px) {
  .about_section .img-small {
    max-width: 44%;
    top: 41%;
    left: 46%;
  }
}
@media (max-width: 500px) {
  .about_section .img-small {
    max-width: 62%;
    top: 51%;
    left: 37%;
  }
  .about_section .img-big {
    max-width: unset;
    height: auto;
    width: 100%;
  }
  .about_section .img-small {
    width: 100% !important;
    max-width: unset !important;
    position: static;
    margin-top: 30px;
  }
  .table-left {
    min-height: unset !important;
    padding: 0 15px !important;
  }
}
@media (max-width: 400px) {
  .about_section .img-small {
    max-width: 71%;
    top: 47%;
    left: 28%;
  }
  .about_section .img-big {
    max-width: 100%;
  }
}
.about_section_layout {
  padding: 0 200px;
}
.heading-title {
  text-wrap: nowrap !important;
}
@media (max-width: 350px) {
  .about_section .img-small {
    max-width: 74%;
    top: 54%;
    left: 25%;
  }
}

.outline-num {
  color: transparent;
  -webkit-text-stroke: 1px white;
  padding: 10px;
}

.wrapper-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 85px 200px;
}

.text-white {
  color: #ffffff;
}

.font-bold {
  font-weight: 700;
}

.text-v2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  margin-bottom: 16px;
}
.text-v2 > span {
  line-height: 43px;
}
.solance-text {
  font-weight: 600 !important;
}
.card_descrption > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.text-v3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 11px;
}

.flex {
  display: flex;
  gap: 20px;
}

@media (max-width: 1300px) {
  .wrapper {
    padding: 10px 200px;
  }
  .wrapper-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
  }
}

/* 991px width or less: */
@media (max-width: 992px) {
  .wrapper {
    padding: 10px 200px;
  }
  .wrapper-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
  }
}

@media (max-width: 425px) {
  .wrapper {
    padding: 10px 20px;
  }
  .wrapper-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
  }
}

/* 🄷🄴🄰🄳🄴🅁  ----------------------------------------------*/
.about-header-bg {
  background: url("/assets/images/about-header.jpg") no-repeat center center;
  background-size: cover;
  margin-top: 50px;
  height: 450px;
}

.about-header-bg h2 {
  justify-content: flex-start !important;
}

@media (max-width: 1400px) {
  .ourMission-wrapper h2 {
    font-size: 24px;
  }
  .mission-desc p {
    font-size: 14px;
  }
  .ourMission-wrapper h2 span {
    font-size: 24px;
  }
  .icn-mission {
    padding: 20px 10px 0 10px;
  }
  .mission-img {
    max-width: 100%;
  }

  .about_section {
    padding: 50px 0 50px 0;
  }
  .about-header-bg {
    height: 530px;
  }
}
@media (max-width: 1200px) {
  .about-header-bg {
    margin-top: 0px;
  }
  .icon-main {
    width: 100%;
    height: 75px;
  }
  .icn-mission img {
    width: 40px;
  }
  .about-header-bg {
    height: 480px;
  }
}
@media (max-width: 991px) {
  .icon-main {
    width: 107px;
  }

  .about-header-bg {
    height: 390px;
  }
  .vision-desc {
    text-align: start;
  }
}
@media (max-width: 768px) {
  .about-header-bg {
    height: 340px;
  }
}
@media (max-width: 576px) {
  .ourMission-wrapper h3 {
    text-align: start;
  }
  .icon-main {
    display: none;
  }
  .ourMission-wrapper {
    padding: 50px 30px;
  }
}
@media (max-width: 500px) {
  .ourMission-wrapper h2 {
    font-size: 22px;
  }

  .ourMission-wrapper h2 span {
    font-size: 22px;
  }
  .mission-desc p {
    font-size: 13px;
  }
  .vision-desc,
  .value-desc,
  .mission-desc p {
    padding: 0px 10px 0 0;
  }

  .ourMission-wrapper {
    padding: 30px 30px;
  }
  .about-header-bg {
    height: 250px;
  }
}
/* 🄶🅁🄸🄳 🅂🄴🄲🅃🄸🄾🄽  ----------------------------------------------*/
.grid-card {
  box-shadow: 0 14px 18px 0 rgba(173, 216, 230, 0.2),
    0 16px 20px 0 rgba(173, 216, 230, 0.19);
  /* border: 1px solid #000; */
  /* shadow: 0 0 10px rgba(0, 0, 0, 0.1)/; */
  /* padding: 15px; */
}

.cust-push-above {
  margin-top: -50px;
  margin-left: 20px;
}

.abt-grid-img {
  weight: 100%;
  text-align: center;
  margin: 0 auto;
}

.abt-grid-content {
  padding: 20px;
}

.gird-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 0 200px 100px 200px;
}

/* Between 991px and 1300px width: */
@media (max-width: 1500px) {
  .gird-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px 20px;
  }
  .about_section_layout {
    padding: 20px 20px;
  }
}

/* 991px width or less: */
@media (max-width: 991px) {
  .gird-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 20px;
  }
}
/* @media (2500px <= width <= 2590px) {
  .about_section .img-small {
    max-width: 293px;
    top: 350px;
    left: 822px;
  }
}

@media (2400px <= width <= 2500px) {
  .about_section .img-small {
    max-width: 293px;
    top: 350px;
    left: 812px;
  }
}
@media (2300px <= width <= 2400px) {
  .about_section .img-small {
    max-width: 293px;
    top: 350px;
    left: 712px;
  }
}
@media (2200px <= width <= 2300px) {
  .about_section .img-small {
    max-width: 293px;
    top: 350px;
    left: 652px;
  }
}
@media (2100px <= width <= 2200px) {
  .about_section .img-small {
    max-width: 293px;
    top: 350px;
    left: 602px;
  }
}
@media (2000px <= width <= 2100px) {
  .about_section .img-small {
    max-width: 293px;
    top: 350px;
    left: 552px;
  }
}
@media (1900px <= width <= 2000px) {
  .about_section .img-small {
    max-width: 293px;
    top: 350px;
    left: 502px;
  }
}
@media (1800px <= width <= 1900px) {
  .about_section .img-small {
    max-width: 293px;
    top: 350px;
    left: 450px;
  }
}
@media (1700px <= width <= 1800px) {
  .about_section .img-small {
    max-width: 293px;
    top: 350px;
    left: 400px;
  }
}
.about_section .table-right {
  padding: 0;
}
/* 991px width or less: */

/*🄱🄰🄽🄽🄴🅁 ----------------------------------------------*/
.banner-bg {
  background: url("/assets/images/abt-banner-2.png") no-repeat center center;
  background-size: cover;
  color: #ffffff;
}

.banner-sec-text {
  text-align: center;
  padding: 0 35px;
}

@media (max-width: 1300px) {
  .banner-sec-text {
    padding: 0 20px;
  }
}
@media (1500px <= width <= 1770px) {
  .about_section .img-small {
    max-width: 59%;
    top: 51%;
    left: 35% !important;
  }
}
.img_container {
  position: relative;
}

@media (max-width: 991px) {
  .banner-sec-text {
    padding: 0 20px;
  }
}

@media (max-width: 425px) {
  .banner-sec-text {
    padding: 0 0px;
  }
}

/* 🄰🄱🄾🅄🅃 ----------------------------------------------*/

.about-wrapper {
  padding: 40px 10px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 20px 200px;
}

.about-card {
  box-shadow: 0 4px 8px 0 rgba(173, 216, 230, 0.2),
    0 6px 20px 0 rgba(173, 216, 230, 0.19);
}

.about-card-header {
  text-align: center;
  background-color: #1E335E;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 31px;
}

.about-card-body {
  padding: 30px;
}

/* Between 991px and 1300px width: */
@media (max-width: 1500px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px 20px;
  }
}

/* 991px width or less: */
@media (max-width: 1163px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0px 20px;
  }
}

@media (max-width: 825px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0px 20px;
  }
}

/* 🄵🄾🄾🅃🄴🅁 ----------------------------------------------*/

.footer-bg {
  background: url("/assets/images/bg-footer-01.png") no-repeat center center;
  background-size: cover;
  color: #ffffff;
}

.footer-wrapper {
  padding: 50px 200px;
}
@media (max-width: 725px) {
  .gird-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0px 20px;
  }
  .text-v2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    margin-bottom: 16px;
  }
  .about-card-header {
    text-align: center;
    background-color: #1E335E;
    color: #ffffff;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    line-height: 31px;
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

/* Between 991px and 1300px width: */
@media (max-width: 1300px) {
  .footer-wrapper {
    padding: 50px 20px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* 991px width or less: */
@media (max-width: 991px) {
  .footer-wrapper {
    padding: 50px 20px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* India solance */
.solance-india {
  position: relative;
  padding: 100px 0;
}
.bg-india {
  width: 545px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.img-india {
  display: flex;
  gap: 12px;
}
.img-india img {
  max-width: 377px;
}
.img-big-india {
  max-width: 766px;
  margin-top: 12px;
}
.card-india {
  margin-top: 26px;
  background-color: #ffffff;
  box-shadow: 0px 0px 34px 0px #0000001a;
  padding: 20px 20px;
  overflow-y: auto;
}

.card-india div {
  display: flex;
  align-items: center;
  padding: 12px 0;
  gap: 5px;
}

.card-india img {
  width: 20px;
  height: 18px;
}

.card-india p {
  font-size: 16px;
  font-weight: 600;
  color: #121212;
  margin: 0;
  white-space: normal;
  word-wrap: break-word;
}
@media (max-width: 1400px) {
  .img-india img {
    max-width: 314px;
  }
  .img-big-india {
    max-width: 640px;
  }
  .card-india {
    max-height: 100%;
  }
  .card-india p {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .img-india img {
    max-width: 260px;
  }
  .img-big-india {
    max-width: 535px;
  }
  .card-india p {
    font-size: 13px;
  }
  .card-india div {
    padding: 8px 0;
  }
  .card-india {
    margin-top: 15px;
  }
}
@media (max-width: 991px) {
  .solance-india {
    padding: 50px 0;
  }
  .desc-india {
    margin-top: 30px !important;
  }
  .card-india p {
    font-size: 14px;
  }
  .card-india div {
    padding: 12px 0;
  }
  .img-india img {
    max-width: 340px;
  }
  .img-big-india {
    max-width: 694px;
  }
}
@media (max-width: 768px) {
  .bg-india {
    width: 100%;
  }
  .card-india p {
    text-align: start;
  }
  .card-india div {
    padding: 12px 0;
  }
  .img-india img {
    max-width: 250px;
  }
  .img-big-india {
    max-width: 515px;
  }
}
@media (max-width: 576px) {
  .solance-india {
    padding: 50px 30px;
  }
  .img-india {
    flex-direction: column;
  }
  .img-india img {
    max-width: 100%;
  }
  .img-big-india {
    max-width: 100%;
  }
}
/* Africa solance */
.solance-africa {
  position: relative;
  padding: 100px 0;
}
.africa-sec {
  background: #f2f7ff;
}
.bg-africa {
  width: 545px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.africa-solance-text {
  color: #005e29 !important;
  font-weight: 600 !important;
}
.desc-africa > p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #121212;
}
.img-africa {
  display: flex;
  gap: 12px;
}
.img-africa img {
  max-width: 377px;
}
.img-big-africa {
  max-width: 766px;
  margin-top: 12px;
}
.card-africa {
  margin-top: 26px;
  background-color: #ffffff;
  box-shadow: 0px 0px 34px 0px #0000001a;
  padding: 20px 20px;
  overflow-y: auto;
}

.card-africa div {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 5px;
}

.card-africa img {
  width: 20px;
  height: 18px;
}

.card-africa p {
  font-size: 16px;
  color: #121212;
  font-weight: 600;
  margin: 0;
  white-space: normal;
  word-wrap: break-word;
}
@media (max-width: 1400px) {
  .img-africa img {
    max-width: 314px;
  }
  .img-big-africa {
    max-width: 640px;
  }
  .card-africa {
    max-height: 100%;
  }
  .card-africa p {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .img-africa img {
    max-width: 260px;
  }
  .img-big-africa {
    max-width: 535px;
  }
  .card-africa p {
    font-size: 13px;
  }
  .card-africa div {
    padding: 8px 0;
  }
  .card-africa {
    margin-top: 15px;
  }
}
@media (max-width: 991px) {
  .card-africa {
    margin-bottom: 50px;
  }
  .solance-africa {
    padding: 50px 0;
  }
  .desc-africa {
    margin-top: 30px !important;
  }
  .card-africa p {
    font-size: 14px;
  }
  .card-africa div {
    padding: 12px 0;
  }
  .img-africa img {
    max-width: 340px;
  }
  .img-big-africa {
    max-width: 694px;
  }
}
@media (max-width: 768px) {
  .bg-africa {
    width: 100%;
  }
  .card-africa p {
    text-align: start;
  }
  .card-africa div {
    padding: 12px 0;
  }
  .img-africa img {
    max-width: 250px;
  }
  .img-big-africa {
    max-width: 515px;
  }
}
@media (max-width: 576px) {
  .mission-desc ul li {
    font-family: Montserrat;
    font-size: 12px;
  }
  .solance-africa {
    padding: 50px 30px;
  }
  .img-africa {
    flex-direction: column;
  }
  .img-africa img {
    max-width: 100%;
  }
  .img-big-africa {
    max-width: 100%;
  }
}
