p {
  font-family: Montserrat, sans-serif;
}
.blogs_header-bg {
  background: url("/assets/images/blog-detail/blog-detail-main_1.png") no-repeat
    center center;
  background-size: cover;
  margin-top: 50px;
  height: 450px;
}

.current {
  background-color: #1E335E;
  border: 1px solid #1E335E;
  font-size: 22px;
  /* transition: background-color 0.3s; */
  padding: 5px 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1400px) {
  .blogs_header-bg {
    height: 530px;
  }
}
@media (max-width: 1200px) {
  .blogs_header-bg {
    margin-top: 0px;
  }
  .blogs_header-bg {
    height: 480px;
  }
}
@media (max-width: 991px) {
  .blogs_header-bg {
    height: 390px;
  }
}
@media (max-width: 768px) {
  .desc-blogs {
    flex-direction: column;
  }
  .blogs_header-bg {
    height: 340px;
  }
}
@media (max-width: 500px) {
  .blog-text-wrapper {
    padding: 30px 20px !important;
  }
  .blog_heading_text > h2 {
    font-size: 40px !important;
  }
  .blog_header_title > h2,
  .blog_header_title > h2 > span {
    font-size: 32px !important;
  }
  .blogs_header-bg {
    height: 250px;
  }
}
.blog_header_title > h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}
.blog_header_title > h2 > span {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}

h2 {
  font-family: Montserrat, sans-serif;
}

.blog-card-title {
  font-weight: bold !important;
}
.blog_card {
  padding: 12px;
}

.blog-footer-text {
  font-size: 11.44px;
  font-weight: bold;
}

.blog-text-wrapper {
  padding: 35.18px 36.67px;
}
.desc-blogs a {
  color: #121212 !important;
  font-size: 13px !important;
  font-weight: 700;
}
.desc-blogs p {
  color: #121212 !important;
  font-size: 13px !important;
  font-weight: 400;
}
.blog-text-wrapper a {
  text-decoration: none;
  color: #000;
}

.blog-text-wrapper > h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #121212;
}
.blog-text-wrapper > p {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #121212;
}
.blog-text-wrapper > span {
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  color: #222222;
}
.blog_heading_text > h2 {
  font-weight: 700;
  font-size: 50px;
  font-family: "Exo 2", sans-serif;
}

* {
  box-sizing: border-box;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin: 30px 0;
}
.pagination a {
  text-decoration: none;
  color: #000;
  float: left;
  padding: 5px 16px;
}
.pagination1 a.active {
  background-color: #1E335E;
  color: #fff;
}
.pagination1 a:hover:not(.active) {
  background-color: #ddd;
}
.pagination2 a.active {
  background-color: #1E335E;
  color: #fff;
  border-radius: 5px;
}
.pagination2 a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.pagination3 a {
  transition: background-color 0.3s;
}
.pagination4 a:not(.active) {
  border: 1px solid #ddd;
}
.pagination4 a.active {
  border: 1px solid #1E335E;
}
.pagination5 a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagination5 a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pagination6 a {
  margin: 0 4px;
}
.pagination7 a {
  font-size: 22px;
}
.center {
  text-align: center;
}
ul.breadcrumb {
  list-style-type: none;
  background-color: #eee;
  padding: 8px 16px;
}
ul.breadcrumb li {
  display: inline-block;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #000;
  content: "/\00A0";
}
ul.breadcrumb li a {
  color: #1E335E;
}
