.light-blue-border {
  border: 1px solid #e0e0e0;
}

.cust-flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.cust-card-01 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product-label {
  font-size: 15px;
}
.tech-card {
  margin-bottom: 100px;
  padding: 0px 0 0px !important;
}
.btn-contact {
  padding: 10px 26px 10px 20px;
  background-color: #ffffff;
  color: #1c1c1c;
  z-index: 1;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500px;
}
.product-content {
  padding: 70px 0 0;
}

.product-card-img img {
  height: 100%;
  padding: 20px;
  width: auto;
  object-fit: contain;
}
.product-card-img {
  background-color: #ecf2ff;
  height: 169px;
}
.chargin-instruction > div > h5 {
  padding: 25px 20px 0;
  color: #1e335e;
  font-size: 22px;
  font-weight: bold;
}
.chargin-instruction {
  margin-top: 35px;
}
.chargin-instruction > div > hr {
  border-top: 2px solid #1e335e;
  width: 230px;
}
.card-info {
  margin-left: 0px;
  margin-right: 0px;
}
.product-des-text {
  padding: 16px 12px 16px;
}
.cust-card-02 {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main-back-img {
  z-index: -1;
  margin-bottom: -70px;
}
.tc_class {
  height: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tc_class a {
  width: fit-content;
  color: #db373c !important;
  font-size: 13px;
}
.product-des-text {
  color: #1e335e;
  font-weight: 700;
  border: 1px solid #a6ccff;
  width: 100%;
}
.carouselExampleControls {
  position: relative;
}
.cust-slider-wrapper .owl-prev,
.cust-slider-wrapper .owl-next {
  top: 43%;
  position: absolute;
  transform: translateY(-50%);
}
.cust-slider-wrapper .owl-prev {
  left: -25px;
}
.cust-slider-wrapper .owl-next {
  right: -25px;
}
.cust-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}

.products-page-bg {
  background: url("/assets/images/products-page/products-page-bg.png") no-repeat
    bottom center;
  background-size: cover;
  height: 450px;
}
@media (max-width: 1400px) {
  .btm-card {
    padding: 10px 12px 0 12px !important;
  }
  .product-label {
    font-size: 13px;
  }
  .tc_class a {
    font-size: 14px;
  }
  .product-des-text {
    padding: 16px 5px !important;
  }
  .products-page-bg {
    /* height: 530px; */
  }
}
@media (max-width: 1200px) {
  .btm-card {
    padding: 3px !important;
  }
  .product-label {
    font-size: 11px;
  }
  .tc_class a {
    font-size: 12px;
  }
  .product-des-text {
    padding: 15px 5px !important;
  }
  .products-page-bg {
    height: 300px;
  }
  .single-products .header-wrapper {
    padding: 50px 20px;
    background-position: right;
  }
}
@media (max-width: 991px) {
  .product-label {
    font-size: 14px;
  }
  .tc_class a {
    font-size: 15px;
  }
  .btm-card {
    padding: 10px !important;
  }
  .product_info_container {
    padding: 50px 0;
  }
  .products-page-bg {
    /* height: 390px; */
  }
}
@media (max-width: 768px) {
  .product-label {
    font-size: 13px;
  }
  .tc_class a {
    font-size: 14px;
  }
  .btm-card {
    padding: 5px !important;
  }
  .products-page-bg {
    height: 200px;
  }
  .product_header_title > h5 {
    max-width: 235px;
    margin-top: 25px;
  }
  .product-content {
    padding: 50px 20px 0;
  }
}
@media (max-width: 575px) {
  .tc_class a {
    font-size: 11px;
  }
  .product_info_container {
    padding: 50px 20px !important;
  }
  #carouselExampleControls {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .products-page-bg {
    height: 250px;
  }
}
.cust-slider-main {
}
/* .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='blue' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='blues' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
} */

.carousel-control-next-icon {
  background-image: url("/assets/images/next-btn.svg") !important;
}

.carousel-control-prev-icon {
  background-image: url("/assets/images/prev-btn.svg") !important;
}

/* .cust-prev-btn {
  border: 1px solid blue !important;
  border-radius: 25px !important;
  color: #ffffff;
  padding: 10px;
} */

.cust-prev-btn {
  /* width: 50px; */
}

/* .cust-next-btn {
  border: 1px solid blue !important;
  border-radius: 25px !important;
  color: #ffffff;
  padding: 10px;
} */

.cust-next-btn {
  z-index: 1;
}

/* .product-des-text div {
  color: #1E335E;
  font-weight: 700;
} */

.product_header_title > h5 {
  font-weight: 700;
  font-size: 50px;
  color: #1e335e !important;
  font-family: "Exo 2", sans-serif;
  color: #fff;
  margin-top: 60px;
}
.product_info_container {
  padding: 80px 0;
}
.text-color-pri {
  color: #1e335e;
}
.product-card-modeltxt > span {
  font-size: 18px;
  font-weight: 600;
  line-height: 31.86px;
  text-align: center;
  color: #1c1c1c;
}
.more_product_info_containr {
  padding: 70px 0;
}

.product-card-modeltxt {
  background-color: white;
  color: #1e335e;
  text-align: center;
  padding: 10px 20px;
  font-weight: 500;
}

.view-product-btn {
  background-color: white;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1e335e;
  text-align: center;
  display: flex;
  padding-bottom: 15px;
  justify-content: center;
}
.product-card {
  margin-bottom: 10px;
  box-shadow: 0px 4px 20px 0px #0000000f;
}
.product-card .product-card-img img {
  transition: transform 0.3s ease-in-out;
}

.product-card:hover .product-card-img img {
  transform: scale(1.1);
}
.product-card:hover .view-product-btn,
.product-card:hover .product-card-modeltxt > span {
  color: #ffffff;
}
.product-card:hover .view-product-btn,
.product-card:hover .product-card-modeltxt {
  background-color: #1e335e;
}
.view-product-btn a {
  color: #ffffff;
}

.view-product-btn a:hover {
  color: #ffffff;
}

.h2-wrapper {
  margin-top: 10px !important;
  margin-bottom: 70px !important;
}
.product-main-img {
  border: 1px solid #e0e0e0;
}

.product-main-img-card {
  border: 1px solid #e0e0e0;
  width: 100% !important;
  height: 371px;
  position: relative;
}

.product-main-card-footer {
  text-align: center;
  letter-spacing: 2px;
  background-color: #1e335e;
  color: #ffffff;
  padding: 10px;
  font-weight: 700;
  width: 100%;
  position: absolute;
  bottom: -1%;
}

.product-card-img {
  /* border: 1px solid #e0e0e0; */
}

/* Between 991px and 1300px width: */
@media (max-width: 1300px) {
}

/*Between 425px  and 991px width */
@media (max-width: 991px) {
  .cust-flex-wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* 425px width or less */

@media (max-width: 425px) {
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.news-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f1f0ee;
}

.news-item h3 {
  margin-top: 0;
  text-align: left;
}

.news-item_img {
  width: 100%;
  padding-top: 40%;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-item_body {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.news-item_btn {
  margin: auto 0 0;
}

.news-wrapper {
  margin-top: 50px;
  padding: 0 20px;
}

.carousel-showmanymoveone .carousel-inner .item {
  transition: transform 0.6s ease-in-out;
}

.carousel-showmanymoveone .carousel-control {
  width: 45px;
  height: 45px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding-top: 8px;
  border-radius: 50%;
  background-image: none;
  background-color: #00833e;
  color: #fff;
  opacity: 1;
}

.carousel-showmanymoveone .carousel-control:hover {
  opacity: 0.5;
}

.carousel-showmanymoveone .carousel-control.right {
  right: -40px;
  padding-left: 2px;
}

.carousel-showmanymoveone .carousel-control.left {
  left: -40px;
  padding-right: 2px;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}

@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }

  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }

  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}

@media all and (min-width: 768px) and (transform-3d),
  all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -33.33333%;
  }

  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 33.33333%;
  }

  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}

@media all and (min-width: 992px) and (transform-3d),
  all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(33.33333%, 0, 0);
    transform: translate3d(33.33333%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-33.33333%, 0, 0);
    transform: translate3d(-33.33333%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.slick-slide {
  margin: 0px 10px;
}

.slider {
  position: relative;
  width: 100%;
  /* Set your desired height */
  height: 300px;
  /* Add other styles as needed for your slider container */
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border: none;
  cursor: pointer;
  outline: none;
  /* Customize button appearance */
  /* Example styles below */
  border-radius: 50%;
  color: white;
  font-size: 0px;
}

.slick-prev {
  left: -60px;
}

.slick-next {
  right: -60px;
}

/* Customize button appearance, e.g., with an image */
.slick-prev::before,
.slick-next::before {
  content: "";
  display: inline-block;
  /* Replace with your image */
  background-image: url("../images/prev-btn.svg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.slick-next::before {
  /* Replace with your image */
  background-image: url("../images/next-btn.svg");
}

@media all and (max-width: 1500px) {
  .slick-slider {
    max-width: 90%;
    margin: 0px auto;
  }
  .slick-prev,
  .slick-next {
    width: 40px;
    height: 40px;
  }
}
@media all and (max-width: 991px) {
  .cust-slider-wrapper > img {
    display: none;
  }
  .product-card-modeltxt > span {
    font-size: 18px;
    line-height: 31px;
  }
  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
  }
}
@media all and (max-width: 575px) {
  .tech-card {
    margin-bottom: 0px;

    padding: 20px 0 50px !important;
  }
  .resp-product {
    flex-direction: column;
    height: 35%;
  }
  .chargin-instruction > div > h5 {
    font-size: 19px;
  }
  .btm-card {
    margin-bottom: 22px;
  }
  .product-des-text div {
    font-size: 10px;
  }
  .slick-slider {
    max-width: 80%;
    margin: 0px auto;
  }
  .slick-prev {
    left: -30px;
  }
  .slick-next {
    right: -30px;
  }
  .res-border {
    margin-top: 30px;
  }
  .product_info_container {
    padding: 50px 20px;
  }
  .cust-slider-wrapper {
    margin-bottom: 50px;
  }
}
@media all and (max-width: 500px) {
  .product-des-text {
    height: 50px;
  }
}
@media all and (max-width: 400px) {
  .btm-card {
    padding: 0px !important;
  }
}
